        /* CARRUSEL */
        .object-fit-cover-top {
            object-fit: cover;
            object-position: top;
            width: 100%;
            height: 70vh;
            /* Altura del carrusel */
        }

        .gradiante {
            background: linear-gradient(to top, black, rgba(255, 122, 89, 0));
            left: 0px;
            right: 0px;
            bottom: 0px;
            text-align: left;
        }

        .textocarrusel {
            left: 200px;
            position: relative;
        }


        /* CABECERA */
        :root {
            --rojo: #E50914;
            --fondo: #141414;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background: var(--fondo);
            font-family: 'Open Sans', sans-serif;
        }

        .contenedor {
            width: 90%;
            margin: auto;
        }

        header {
            padding: 30px 0;
        }

        header .contenedor {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logotipo {
            font-family: 'Bebas Neue', cursive;
            font-weight: normal;
            color: var(--rojo);
            font-size: 40px;
        }

        header nav a {
            color: #AAA;
            text-decoration: none;
            margin-right: 20px;
        }

        header nav a:hover,
        header nav a.activo {
            color: #FFF;
        }


        /* HOJA */
        #hoja {
            margin-left: 5%;
            margin-right: 5%;
            background-color: rgb(0, 0, 0);
            height: 500vh;
        }

        #cartelera {
            top: 25px;
            position: relative;
            left: 20px;
        }

        #estrenos {
            top: 25px;
            position: relative;
            left: 20px;
        }

        h2 {
            color: white;
        }

        .linea {
            height: 5px;
            background-color: white;
            width: auto;

            position: relative;
            margin-left: 20px;
            margin-right: 20px;
        }

        .linea1 {
            margin-top: 25px;
        }

        .linea2 {
            margin-top: 25px;
        }

        #peliculas {
            background-color: black;
            margin-top: 40px;
            position: relative;
            gap: 0 20px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            /*gap: 20px 0;*/
            align-items: flex-start;
        }

        @media (min-width: 768px) {
            #hoja {
                margin-left: 10%;
                margin-right: 10%;
            }

            .pelicula {
                height: 200px;
                width: 50px;
            }
        }

        @media (min-width: 992px) {
            #hoja {
                margin-left: 15%;
                margin-right: 15%;
            }

            .pelicula {
                height: 20px;
                width: 50px;
            }
        }

        @media (min-width: 1200px) {
            #hoja {
                margin-left: 10%;
                margin-right: 10%;
            }
        }


        .pelicula {
            background-color: green;
            height: 400px;
            width: 250px;
            position: relative;
            background-image: url('../fotos/no_imagen.png');
            background-size: cover;
            background-position: center;
            margin-top: 15px;
            border-radius: 10px;
        }

        .pelicula:hover {
            border: 2px solid white;
            /* margin-top: 0px;*/
            transition: 0.2s;
            transform: 0.2s;
            cursor: pointer;
            transform: scale(1.08);
            z-index: 2;
        }

        .botonpelicula {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
            text-indent: -9999px;
        }

        #peliculasestrenos {
            background-color: black;
            margin-top: 40px;
            position: relative;
            gap: 0 20px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            /*gap: 20px 0;*/
            align-items: flex-start;
        }

        .peliculaestreno {
            background-color: green;
            height: 250px;
            width: 400px;
            position: relative;
            background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/indiana-jones-dial-destino-1676266852.jpg');
            background-size: cover;
            background-position: center;
            margin-top: 15px;
            border-radius: 10px;
            overflow: hidden;
            align-items: center;
            justify-content: center;
            display: flex;
        }

        .peliculaestreno:hover {
            border: 2px solid white;
            /* margin-top: 0px;*/
            transition: 0.2s;
            transform: 0.2s;
            cursor: pointer;
            transform: scale(1.09);
            z-index: 2;
        }

        .play {
            width: 50%;
            height: auto;
        }

        /* Video de Trailer */
        #video {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
        }

        #trailer {
            width: 57.79vh;
            height: 32.5vh;
        }

        @media (min-width: 1200px) {
            #trailer {
                width: 115.58vh;
                height: 65.01vh;
            }
        }

        .videofondo {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: black;
            opacity: 0.8;
            z-index: 9998;
        }



        /*          PELICULAS             */
        /* HOJA */
        #hoja {
            margin-left: 10%;
            margin-right: 10%;
            background-color: rgb(0, 0, 0);
            height: 500vh;
        }


        /* IMAGEN GRANDE */
        #imagengrande {
            background-color: #737373;
            margin-left: 0;
            margin-right: 0;
            height: 10vh;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            font-family: 'Bebas Neue', cursive;
            font-weight: normal;
            color: white;
            font-size: 4.5em;
            cursor: default;
        }

        #menudias {
            background-color: #404040;
            margin-left: 0;
            margin-right: 0;
        }

        #dias {
            background-color: #404040;
            margin-left: 10%;
            margin-right: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px 40px;
            flex-wrap: wrap;
            border: 10px solid;
            border-image-slice: 1;
            border-width: 10px;
            /*border-image:linear-gradient(to right,red,rgba(0, 0, 0, 0)) 1 100%;*/
            border-image-source: linear-gradient(to right, red, rgba(0, 0, 0, 0));
            border-left: 0;
            border-right: 0;
        }

        .dia {
            background-color: #404040;
            height: 10vh;
            width: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5em;
            font-weight: bold;
            border-radius: 5px;
            color: white;
        }

        .dia:hover {
            border: 2px solid white;
            transform: scale(1.2);
            cursor: pointer;
            transition: 0.2s;
            transform: 0.2s;
        }

        .dia:first-of-type {
            border: none;
            transform: scale(1);
            cursor: auto;
            transition: 0;
            transform: 0;
            cursor: default;
        }

        .botondia {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
            font-size: 1em;
            font-weight: bold;
            color: white;
            font-family: 'Open Sans', sans-serif;
            cursor: pointer;
        }

        .diaactivo {
            border: 2px solid white;
            transform: scale(1.2);
            cursor: pointer;
            transition: 0.2s;
            transform: 0.2s;
        }
        
        #escenapelicula {
            background-color: black;
            top: 50px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px 20px;
            flex-wrap: wrap;
        }

        .pelicula {
            background-color: green;
            height: 400px;
            width: 250px;
            position: relative;
            background-image: url('../fotos/no_imagen.png');
            background-size: cover;
            background-position: center;
            border-radius: 10px;
        }


        /* SINOPSIS */
        #info {
            margin-left: 20px;
            margin-right: 20px;
            background-color: black;
            width: 90vh;
            color: white;
        }

        #info h3 {
            font-size: 1.5em;
        }

        #info h4 {
            margin-top: 5px;
            font-size: 1.2em;
        }

        #info p {
            margin-left: 20px;
            text-align: justify;
            margin-right: 20px;
        }

        /*   */


        #horas {
            top: 50px;
            margin-top: 50px;
            position: relative;
            background-color: #404040;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px 40px;
            flex-wrap: wrap;
        }

        .hora {
            background-color: #404040;
            height: 10vh;
            width: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5em;
            font-weight: bold;
            border-radius: 5px;
            color: white;
            border: 2px solid white;
        }

        .hora:hover {
            transform: scale(1.2);
            cursor: pointer;
            transition: 0.2s;
            transform: 0.2s;
        }

        .hora:first-of-type {
            border: none;
            transform: scale(1);
            cursor: auto;
            transition: 0;
            transform: 0;
            cursor: default;
        }

        .botonhora {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
            font-size: 1em;
            font-weight: bold;
            color: white;
            font-family: 'Open Sans', sans-serif;
            cursor: pointer;
        }

        #videograndetrailer {
            background-color: black;
            top: 50px;
            margin-top: 50px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px 40px;
            flex-wrap: wrap;
            position: relative;
            padding-bottom: 56.25%;
            /* 16:9 aspect ratio */
        }

        #videograndetrailer iframe {
            width: 57.79vh;
            height: 32.5vh;
        }

        @media (min-width: 1200px) {
            #videograndetrailer iframe {
                width: 115.58vh;
                height: 65.01vh;
            }
        }