#butacas td {
    width: 100px;
    height: 103px;
    position: relative;
    color: white;
    font-size: 1.5em;
    text-align: center;
}

#butacas td:first-child {
    background-color: black;
    color: white;
    border-right: 1px solid gray;
}

#butacas tr:last-child {
    background-color: black;
    color: white;
    border-top: 1px solid gray;
}

#butacas img {
    width: 100px;
}

#butacas {
    background-color: black;
    border-collapse: collapse;
}

.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    opacity: 0;
    height: 100px;
    cursor: pointer;
}

.oculto {
    color: yellow;
    font-weight: bold;
}

.numero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 100%;
    width: 100%;
}

.marcado {
    color: green;
    font-weight: bold;
}

label{
    color:white;
}